{% extends 'list.html' %} 
{% block columns %}

<tr>
  <th scope="col">Nro</th>
  <th scope="col">Nombre</th>
  <th scope="col">Opciones</th>
</tr>

{% endblock %}

{% block rows%} 

{% for c in categories %}
<tr>
  <th>{{ c.id }}</th>
  <td>{{ c.name }}</td>
  <td>
    <button type="button" class="btn btn-warning btn-xs btn-flat">
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
    <button type="button" class="btn btn-danger btn-xs btn-flat">
      <i class="fa-solid fa-trash"></i>
    </button>
  </td>
</tr>
{% endfor %}
{% endblock %}
